a.out
build
node_modules
deps
.idea
sandbox
core
oldtest
.env
.vscode/



package-lock.json

#vs Code IDE configuration files
.vscode
.vs
*.VC.db


try
try/**

###
Debug
Debug/*
Release
Release/*
*.user

0.*
1.*
tmp.*
*.tmp

.history
.history/*
